@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&family=Montserrat:wght@500&family=Permanent+Marker&family=Supermercado+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@300&display=swap");
@import "~react-image-gallery/styles/css/image-gallery.css";
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@600&display=swap");
/*
Available fonts:
font-family: 'Indie Flower', cursive;
font-family: 'Montserrat', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Supermercado One', cursive; 
font-family: 'Fredoka One', cursive;
font-family: 'Righteous', cursive;
*/
html {
  background-color: #f9d003;
  width: 100%;
  height: 100%;
  font-family: "Source Code Pro", monospace;
  letter-spacing: 0.3vh;
  padding-top: 15vh;
}

::-moz-selection {
  /* Code for Firefox */
  color: #f9d003;
  background: black;
}

::selection {
  color: #f9d003;
  background: black;
}

* {
  margin: 0;
  padding: 0;
}

/* Top navbar */

.navbar {
  background-color: #f9d003;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  padding: 0 0 2vh 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
}

.navbar--expanded {
  background-color: #f9d003;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  padding: 0 0 2vh 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  animation: expand--navbar 1s ease-in-out 0s forwards;
}
.navbar--unexpand {
  background-color: #f9d003;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  padding: 0 0 2vh 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  width: 100%;
  animation: unexpand--navbar 1s ease-in-out 0s forwards;
}

.navbar--listIcon {
  display: none;
  background-color: #f9d003;
  border: 0.2vh solid black;
  color: black;
  padding: 2vh 2vh;
  text-align: center;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 1em;
  text-transform: uppercase;
}

.navbar--listIcon:hover {
  background-color: black;
  color: #f9d003;
}

@keyframes expand--navbar {
  from {
    padding-bottom: 2vh;
  }
  to {
    padding-bottom: 100vh;
  }
}

@keyframes unexpand--navbar {
  from {
    padding-bottom: 100vh;
  }
  to {
    padding-bottom: 2vh;
  }
}

.navbar-brand {
  font-family: "Permanent Marker", cursive;
  letter-spacing: 0.4vh;
  align-items: center;
  padding: 2vh 0 0 2vh;
  display: flex;
}

.navbar--crooks-icon-png {
  width: 8vh;
  height: 8vh;
}

.navbar--title {
  font-size: 4vh;
  font-weight: bold;
  margin-left: 3vh;
}

.navbar--buttons > u {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-around;
  font-weight: bold;
  font-size: 2vh;
}
.navbar--buttons > u > a > li > button {
  background-color: #f9d003;
  border: 0.2vh solid black;
  color: black;
  padding: 1vh 2vh;
  text-align: center;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 1em;
  text-transform: uppercase;
  margin-left: 2vh;

  font-family: "Fredoka One", cursive;
  letter-spacing: 0.2vh;
}

.navbar--buttons > u > a > li > button:hover {
  background-color: black;
  color: #f9d003;
}

.navbar--buttons {
  display: block;
  right: 10%;
  position: absolute;
}

.menu--buttons {
  position: fixed; /* or absolute */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
  list-style-type: none;

  display: none;
}

.menu--buttons > u > li {
  padding-bottom: 2vh;
}

.menu--buttons > u > li > a > button {
  background-color: #f9d003;
  border: 0.2vh solid black;
  color: black;
  padding: 1vh 2vh;
  text-align: center;
  font-size: 2vh;
  cursor: pointer;
  border-radius: 1em;
  text-transform: uppercase;
  opacity: 0;

  font-family: "Fredoka One", cursive;
  letter-spacing: 0.2vh;
}

.menu--buttons > u > li > a > button:hover {
  background-color: black;
  color: #f9d003;
}

@keyframes hide--buttons {
  0% {
    opacity: 1;
    transform: translate(0, -10em);
  }
  100% {
    opacity: 0;
    transform: translate(0, -200em);
  }
}
@keyframes show--buttons {
  1% {
    transform: translate(0, -200em);
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translate(0, -10em);
  }
}

.hide--buttons {
  animation: hide--buttons 1.8s ease-in-out 0s forwards;
}
.show--buttons {
  animation: show--buttons 1.3s ease-in-out 0s forwards;
}

/* About section */

.main--about--div {
  display: flex;
  flex-direction: column;
  /* align-items: center; */

  margin-bottom: 15vh;
}

.about--div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
  align-content: stretch;
  padding: 2vh 0;
  margin-bottom: 7vh;
}

.about--title {
  padding-bottom: 5vh;
  font-size: 4vh;
  font-weight: 600;
  margin-left: 12%;
  font-family: "Source Code Pro", monospace;
}

.about--images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
  padding-right: 10vw;

  width: 50vh;
}

.about--images > img {
  width: 46vh;
  padding: 1vh;
}

.image-gallery {
  width: 115%;
}

.about--box {
  width: 30vw;
  height: 60vh;
  background-color: #f9d003;
  border-radius: 2em;
  font-weight: 700;

  padding-left: 10vw;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.about--box > p {
  padding: 2vh 2vh 2vh 2vh;
  font-size: 2vh;
}

.socials {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: stretch;
  align-content: stretch;

  padding-bottom: 15vh;
}

.socials > div {
  margin: 0 15vh 0 15vh;
}

.socials--icons {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;

  font-size: 10vh;

  background-color: white;
  padding: 1vh;
  border-radius: 10px;

  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.25);
}

@media (max-width: 900px) {
  .about--div {
    flex-direction: column;
    align-items: center;

    margin-bottom: 10vh;
  }

  .about--box {
    width: 80vw;
    height: 50vh;
    padding-left: 0;
  }

  .about--box > p {
    border-radius: 2em;
    padding: 2vh 2vh 6vh 2vh;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.25);
  }

  .about--images {
    padding: 0 0 5vh 0;
    width: 70vw;
  }

  .navbar--listIcon {
    display: block;
    right: 10%;
    position: absolute;
  }

  .navbar--buttons {
    display: none;
  }
  .navbar-brand {
    font-size: 6vh;
  }
  .navbar--title {
    font-size: 5vw;
    font-weight: bold;
    margin-left: 3vh;
  }

  .menu--buttons {
    display: block;
  }

  .about--title {
    padding-bottom: 5vh;
    font-size: 4vh;
    font-weight: bold;
    margin-left: 0;
  }

  .main--about--div {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-bottom: 3vh;
  }

  .socials {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .socials--icons {
    display: flex;
    flex-direction: row;
    margin-right: 10vh;
    font-size: 7vh;
  }

  .twitter-icon,
  .twitch-icon,
  .instagram-icon {
    padding: 0 1.5vh 0 1.5vh;
  }
}

@media (min-width: 900px) {
  html {
    scroll-behavior: smooth;
  }

  .navbar--unexpand {
    padding-bottom: 20vh;
  }
  .navbar--expanded {
    padding-bottom: 20vh;
  }
}
